@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography */

.poppins {
    font-family: "Poppins", sans-serif;
}

/* Backgrounds */

.bg-gradient-purple-blue {
    background: linear-gradient(117.33deg, #772AAE -6.75%, #5E97E8 108.52%);
}


/* Hero section */
.hero {
    height: 800px;
}
