@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography */
.poppins {
    font-family: "Poppins", sans-serif;
}

/* Backgrounds */
.bg-gradient-purple-blue {
    background: linear-gradient(117.33deg, #772AAE -6.75%, #5E97E8 108.52%);
}

.bg-gradient-blue {
    background: linear-gradient(90deg, #6C63FF 0%, #5E97E8 100%);
}

/* Hero section */
.hero {
   height: calc(100vh - 5rem);
}

@media (min-width: 768px) {
    .hero {
        height: 700px;
    }
 }

@media (min-width: 1024px) {
    .hero {
        height: 800px;
    }
 }

 /**
* ----------------------------------------------
* Misc
* ----------------------------------------------
**/
.square-purple {
    background-color: rgba(108, 99, 255, 0.5);
}

.square-blue {
    background-color: rgba(94, 151, 232, 0.5);
}

.chat-box-svg {
    display: none;
}
@media (min-width: 1600px) {
    .chat-box-svg {
        display: inline;
    }
 }

 /**
* ----------------------------------------------
* Animations
* ----------------------------------------------
**/

/* Hero svg animation */
.dot-box {
    position: absolute;
    width: 90%;
    height: 80%;
    top:10px;
    left:25px;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-name:orbit;
    animation-duration:30s;
}
.dot {
    width: 80px;
    height: 80px;
    background: #3F3D56;
    position: absolute;
    border-radius: 50%;
    top:10px;
    left:00px;
}



@keyframes orbit { 
    from { transform:rotate(0deg) } 
    to { transform:rotate(360deg) } }


/**
* ----------------------------------------------
* Demo styles
* ----------------------------------------------
**/
.accordion {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.accordion__item + .accordion__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__button {
    background-color: #f4f4f4;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
}

.accordion__button:hover {
    background-color: #ddd;
}

.accordion__button:before {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    transform: rotate(45deg);
}

.accordion__panel {
    padding: 20px;
    animation: fadein 0.35s ease-in;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.shadow-blue-lg {
    box-shadow: 0 0 32px rgba(94, 151, 232, 0.5);
}


